html,body {
    margin:0;
    padding:0;
    width:100%;
    height:5000px;
    overflow-x: hidden;
    font-family: 'Helvetica Neue'
  }
#gradient-canvas {
  width:100%;
  height:100vh;
  position: absolute;
  min-height: 770px;
  --gradient-color-1: #635BFF; 
  --gradient-color-2: #FE343F; 
  --gradient-color-3: #F7C462;  
  --gradient-color-4: #90D6FE;
}
.welcome {
  width: 100vw;
  height: 100vh;
  position: relative;
  bottom: 0vh;
  z-index: 100;
  align-items:center;
  min-height: 770px;
}
.welcome-left-and-right {
  display: flex;
  max-width: 1360px;
  margin: auto;
  justify-content: space-between;
}
.welcome-leftside {
  position: relative;
  top: 15vh;
}
#welcome-title-1 {
  margin: 0 0 20px 0;
  font-size: 80px;
  width: 560px;
  line-height: 80px;
  position: relative;
  z-index: 100;
}
#welcome-title-1 .new{opacity: 0;}
#welcome-title-1 .div_opacity{
  -webkit-transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -ms-transition: opacity .1s ease-in-out;
  -o-transition: opacity .1s ease-in-out;
  transition: opacity .1s ease-in-out;
  opacity: 1;}
  #welcome-title-2 {
    margin: 0;
    font-size: 80px;
    width: 560px;
    margin: 0;
    line-height: 80px;
    position: relative;
    z-index: 100;
    display: none;
  }
  #welcome-title-2 .new{opacity: 0;}
  #welcome-title-2 .div_opacity{
    -webkit-transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -ms-transition: opacity .1s ease-in-out;
    -o-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;
    opacity: 1;}
.small-title {
  font-size: 18px;
  width: 560px;
  margin: 0;
  position: relative;
  z-index: 100;
}
.container {
  height: 420px;
}
.welcome a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 25px 5% 0 0;
}
.logo {
  width: 95px;
  height: 28px;
  background-color: black;
  margin: 25px 5% 0 0;
}
.rectangle {
  width: 5000px;
  margin: auto;
  height: 5000px;
  background-color: white;
  position: absolute;
  top: -140px;
  clip-path: polygon(5000px 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 1000px);
  z-index: 0;
}
.rectangle-container {
  display: flex;
  justify-content: center;
}
nav {
  max-width: 1360px;
  margin: auto;
  height: 60px;
  display: flex;
  position: relative;
  top: 0;
  z-index: 100;
}
.computer {
  z-index: 100;
  position: relative;
  top: 12vh;
}


.block {
  background-color: #F6F9FC;
  width: 100vw;
  height: 100vh;
  position: relative;
  bottom: 0vh;
  z-index: 100;
  min-height: 600px;
}
.block-left-and-right-1 {
  display: flex;
  max-width: 1360px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  min-height: 600px;
}
.block-left-and-right-2 {
  display: flex;
  max-width: 1360px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  min-height: 700px;

}
.block-left-and-right-3 {
  display: flex;
  max-width: 1360px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  min-height: 700px;
}

.block-left {
  width: auto;
  position: relative;
}
.block-me {
  color: #635BFF;
  font-size: 18px;
  margin: 0;
  position: relative;
}
.Hi {
  font-size: 60px;
  margin: 0;
  position: relative;
}
.block-des {
  font-size: 18px;
  width: 550px;
  position: relative;
}
.block-left-and-right-1 img {
  max-width: 539px;
  max-height: 550px;
  height: auto;
  width: auto;
  border-radius: 20px;
}
.block-grid {
  display: grid;
  grid-template-columns: repeat(6, 95px);
  grid-template-rows: repeat(6, 95px);
  gap: 20px
}
#icon-html, #icon-css, #icon-react, #icon-stress-resistance, #icon-remote-work, #icon-github, #icon-timemanagment, #icon-responsibility, #icon-figma, #icon-js, #icon-redux {
  border: 2px solid #CBD2DD;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#icon-stress-resistance-svg {
  height: 60px;
  width: 60px;
}
.icon-phrase {
  margin: 0;
  position: absolute;
  top: 75px;
  opacity: 0;
  font-size: 15px;
  text-align: center;
}
@keyframes changeAnimation-1 {
  0% {
    fill: rgba(255, 69, 0, 0);
    stroke: #CBD2DD;
  }
  100% {
    fill: #FF4500;
    stroke: transparent;
  }
}
@keyframes changeAnimation-back-1 {
  0% {
    fill: #FF4500;
    stroke: transparent;
  }
  100% {
    fill: rgba(255, 69, 0, 0);
    stroke: #CBD2DD;
  }
}

@keyframes changeAnimation-2 {
  0% {
    fill: rgba(255, 255, 255, 0);
    stroke: #CBD2DD;
  }
  100% {
    fill: white;
    stroke: transparent;
  }
}
@keyframes changeAnimation-back-2 {
  0% {
    fill: white;
    stroke: transparent;
  }
  100% {
    fill: rgba(255, 255, 255, 0);
    stroke: #CBD2DD;
  }
}
@keyframes changeAnimation-github-1 {
  0% {
    fill: rgba(238, 60, 45, 0);
    stroke: #CBD2DD;
  }
  100% {
    fill: rgba(238, 60, 45, 1);
    stroke: transparent;
  }
}
@keyframes changeAnimation-github-back-1 {
  0% {
    fill: rgba(238, 60, 45, 1);
    stroke: transparent;
  }
  100% {
    fill: rgba(238, 60, 45, 0);
    stroke: #CBD2DD;
  }
}

@keyframes changeAnimation-stress-resistance-1 {
  0% {
    fill: rgba(255, 38, 67, 0);
    stroke: #CBD2DD;
  }
  100% {
    fill: rgba(255, 38, 67, 1);
    stroke: transparent;
  }
}
@keyframes changeAnimation-stress-resistance-back-1 {
  0% {
    fill: rgba(255, 38, 67, 1);
    stroke: transparent;
  }
  100% {
    fill: rgba(255, 38, 67, 0);
    stroke: #CBD2DD;
  }
}

@keyframes changeAnimation-figma-leftTop {
  0% {
    fill: rgba(255, 77, 18, 0);
    stroke: #CBD2DD;
  }
  100% {
    fill: rgba(255, 77, 18, 1);
    stroke: rgba(255, 77, 18, 1);
  }
}

@keyframes changeAnimation-figma-leftTop-back {
  0% {
    fill: rgba(255, 77, 18, 1);
    stroke: rgba(255, 77, 18, 1);
  }
  100% {
    fill: rgba(255, 77, 18, 0);
    stroke: #CBD2DD;
  }
}
@keyframes changeAnimation-figma-rightTop {
  0% {
    fill: rgba(255, 115, 97, 0);
    stroke: #CBD2DD;
  }
  100% {
    fill: rgba(255, 115, 97, 1);
    stroke: rgba(255, 115, 97, 1);
  }
}

@keyframes changeAnimation-figma-rightTop-back {
  0% {
    fill: rgba(255, 115, 97, 1);
    stroke: rgba(255, 115, 97, 1);
  }
  100% {
    fill: rgba(255, 115, 97, 0);
    stroke: #CBD2DD;
  }
}
@keyframes changeAnimation-figma-leftMiddle {
  0% {
    fill: rgba(182, 89, 255, 0);
    stroke: #CBD2DD;
  }
  100% {
    fill: rgba(182, 89, 255, 1);
    stroke: rgba(182, 89, 255, 1);
  }
}

@keyframes changeAnimation-figma-leftMiddle-back {
  0% {
    fill: rgba(182, 89, 255, 1);
    stroke: rgba(182, 89, 255, 1);
  }
  100% {
    fill: rgba(182, 89, 255, 0);
    stroke: #CBD2DD;
  }
}
@keyframes changeAnimation-figma-rightMiddle {
  0% {
    fill: rgba(0, 188, 255, 0);
    stroke: #CBD2DD;
  }
  100% {
    fill: rgba(0, 188, 255, 1);
    stroke: rgba(0, 188, 255, 1);
  }
}

@keyframes changeAnimation-figma-rightMiddle-back {
  0% {
    fill: rgba(0, 188, 255, 1);
    stroke: rgba(0, 188, 255, 1);
  }
  100% {
    fill: rgba(0, 188, 255, 0);
    stroke: #CBD2DD;
  }
}
@keyframes changeAnimation-figma-leftBottom {
  0% {
    fill: rgba(0, 207, 127, 0);
    stroke: #CBD2DD;
  }
  100% {
    fill: rgba(0, 207, 127, 1);
    stroke: rgba(0, 207, 127, 1);
  }
}

@keyframes changeAnimation-figma-leftBottom-back {
  0% {
    fill: rgba(0, 207, 127, 1);
    stroke: rgba(0, 207, 127, 1);
  }
  100% {
    fill: rgba(0, 207, 127, 0);
    stroke: #CBD2DD;
  }
}

@keyframes changeAnimation-timemanagment {
  0% {
    fill: rgba(99, 91, 255, 0);
    stroke: #CBD2DD;
  }
  100% {
    fill: rgba(99, 91, 255, 1);
    stroke: transparent;
  }
}

@keyframes changeAnimation-timemanagment-back {
  0% {
    fill: rgba(99, 91, 255, 1);
    stroke: transparent;
  }
  100% {
    fill: rgba(99, 91, 255, 0);
    stroke: #CBD2DD;
  }
}

@keyframes changeAnimation-css-1 {
  0% {
    fill: rgba(33, 150, 243, 0);
    stroke: #CBD2DD;
  }
  100% {
    fill: rgba(33, 150, 243, 1);
    stroke: transparent;
}
}

@keyframes changeAnimation-css-back-1 {
  0% {
    fill: rgba(33, 150, 243, 1);
    stroke: transparent;
  }
  100% {
    fill: rgba(33, 150, 243, 0);
    stroke: #CBD2DD;
  }
}
@keyframes changeAnimation-css-2 {
  0% {
    fill: transparent;
    stroke: #CBD2DD;
  }
  100% {
    fill: white;
    stroke: transparent;
}
}

@keyframes changeAnimation-css-back-2 {
  0% {
    fill: white;
    stroke: transparent;
  }
  100% {
    fill: transparent;
    stroke: #CBD2DD;
  }
}

@keyframes changeAnimation-js-1 {
  0% {
    fill: rgba(247, 224, 29, 0);
    stroke: #CBD2DD;
  }
  100% {
    fill: rgba(247, 224, 29, 1);
    stroke: transparent;
}
}

@keyframes changeAnimation-js-back-1 {
  0% {
    fill: rgba(247, 224, 29, 1);
    stroke: transparent;
  }
  100% {
    fill: rgba(247, 224, 29, 0);
    stroke: #CBD2DD;
  }
}
@keyframes changeAnimation-js-2 {
  0% {
    fill: transparent;
    stroke: #CBD2DD;
  }
  100% {
    fill: white;
    stroke: transparent;
}
}

@keyframes changeAnimation-js-back-2 {
  0% {
    fill: white;
    stroke: transparent;
  }
  100% {
    fill: transparent;
    stroke: #CBD2DD;
  }
}
@keyframes changeAnimation-responsibility {
  0% {
    fill: rgba(255, 197, 85, 0);
    stroke: #CBD2DD;
  }
  100% {
    fill: rgba(255, 197, 85, 1);
    stroke: transparent;
  }
}

@keyframes changeAnimation-responsibility-back {
  0% {
    fill: rgba(255, 197, 85, 1);
    stroke: transparent;
  }
  100% {
    fill: rgba(255, 197, 85, 0);
    stroke: #CBD2DD;
  }
}
@keyframes changeAnimation-remote-work {
  0% {
    fill: rgba(67, 199, 255, 0);
    stroke: #CBD2DD;
  }
  100% {
    fill: rgba(67, 199, 255, 1);
    stroke: transparent;
  }
}

@keyframes changeAnimation-remote-work-back {
  0% {
    fill: rgba(67, 199, 255, 1);
    stroke: transparent;
  }
  100% {
    fill: rgba(67, 199, 255, 0);
    stroke: #CBD2DD;
  }
}

@keyframes testAnim {
  0% {
    width: 0px;
  }
  100% {
    width: 500px;
    left: 0;
  }
}


.work {
  width: 670px;
  height: 180px;
  box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

}
.work-experience-list {
  height: 455px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.circle {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
  height: 50px;
  width: 50px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  background-color: white;
}
.block-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.inside-circle {
  background-color: #635BFF;
  width: 20px;
  height: 20px;
  border-radius: 100px;
}

.work-experience {
  display: flex;
  flex-direction: column;
  height: 585px;
  justify-content: space-between;
  margin-left: 42px;
}
.circle-container {
  display: flex;
  flex-direction: column;
}

.work-line {
  height: 408px;
  width: 3px;
  color: #635BFF;
  background-color: #635BFF;
  right: 26px;
  border: none;
  position: relative;
  z-index: 0; /* Установите z-index для .line меньше, чем для .circle */
}


.work-date {
  width: 205px;
  padding: 3px 0 3px 0;
  border-radius: 5px;
  text-align: center;
  margin: 25px 0 13px 0;
  color: #635BFF;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25) inset;
}
.work-container {
  width: 620px;
  margin: auto;
}
.work-work {
  font-size: 30px;
  margin: 0;
}
.work-post {
  margin: 0;
  color: #635BFF;
  font-size: 16px;
  margin-bottom: 17px;
}
.font-container {
  font-size: 18px;

}.work-right {
  display: grid;
}